// Start qlVaiTro
.qlVaiTro {
    padding: 30px 97px 30px 24px;
    position: relative;

    // Start vaiTro__breadcrumb 
    .vaiTro__breadcrumb {
        margin-bottom: 45px;

        // Start ant-breadcrumb
        .ant-breadcrumb {
                
            span {
                font-size: 20px !important;
                color: #7E7D88;

                span {
                    font-weight: 700 !important;

                    a {
                        font-size: 20px !important;
                        color: #7E7D88;
                    }
                }

                &:last-child {
                    
                    span {
                        color: $primary-color-txt !important;
                    }
                }
            }

            .ant-breadcrumb-separator {
                margin: 0 15.4px !important;
            }
        }
        //End ant-breadcrumb 
    }
    // End vaiTro__breadcrumb

    // Start vaiTro__content
    .vaiTro__content {

        // Start vaiTro__content-heading
        .vaiTro__content-heading {
            font-size: 24px;
            color: $primary-color-txt;
            font-weight: 700;
            line-height: 36px;
            margin-bottom: 16px;
        }
        // End vaiTro__content-heading

        // Start vaiTro__content-table 
        .vaiTro__content-table {
            width: 1112px;
            margin-top: 52px;

            // Start ant-table-wrapper
            .ant-table-wrapper {

                //Start ant-table
                .ant-table {
                    border-radius: 12px;
                    box-shadow: $box-shadow;
                    overflow: hidden;

                    // Start ant-table-content
                    .ant-table-content {

                        .ant-table-thead {

                            .ant-table-cell {
                                background-color: $primary-color-btn;
                                color: #fff;
                                font-size: 16px !important;
                                font-weight: 700;
                            }
                        }

                        tr {
                            height: 49px !important;

                            .ant-table-cell {
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                width: auto;
                                font-size: 14px !important;
                                height: 49px !important;
                                padding: 3.5px 17px !important;
                                max-width: 268px;
                                
                                .ant-table-cell-content {
                                    max-width: 200px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    margin-bottom: 0;
                                    font-size: 14px !important;
                                    line-height: 21px;
                                }

                                .ant-table-cell-more {
                                    height: 21px;
                                    position: relative;

                                    .more {
                                        background-color: transparent;
                                        outline: none;
                                        border: none;
                                        font-size: 14px !important;
                                        text-decoration: underline;
                                        color: #4277FF;
                                        &:hover {
                                            cursor: pointer;
                                        }

                                        &:focus + .ant-table-cell-vaiTro {
                                            display: block;
                                        }
                                    }

                                    .ant-table-cell-vaiTro {
                                        position: absolute;
                                        bottom: -4px;
                                        left: -3px;
                                        width: 394px;
                                        height: 50px;
                                        padding: 3px 5px;
                                        border: 1px solid #FFC89B;
                                        border-radius: 8px;
                                        position: absolute;
                                        background-color: #fff;
                                        z-index: 199 !important;
                                        display: none;
                                        cursor: pointer;

                                        p {
                                            font-size: 14px;
                                            line-height: 21px;
                                            max-width: 380px;
                                            white-space: normal !important;
                                        }
                                    }
                                }

                                button {
                                    background-color: transparent;
                                    outline: none;
                                    border: none;
                                    font-size: 14px !important;
                                    text-decoration: underline;
                                    color: #4277FF;
                                }
                            }

                            &:nth-child(even) {
                                background-color: $primary-color-btn-hover !important;
                            }
                        }
                    }
                    // End ant-table-content
                }
                //End ant-table

                // Start ant-pagination
                .ant-pagination {

                    .ant-pagination-item {
                        width: 32px !important;
                        height: 32px !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;

                        a {

                            &.hover {
                                color: #000;
                            }
                        }
                    }

                    .ant-pagination-item-active {
                        background-color: $primary-color-txt;
                        color: #fff;
                        border-color: transparent !important;

                        &:hover a {
                            color: #fff !important;
                        }
                    }
                }
                // End ant-pagination
            }
            // End ant-table-wrapper
        }
        // End vaiTro__content-table 

        // Start vaiTro__content-form
        .vaiTro__content-form {
            margin-top: 32px;

            // Start vaiTro__content-form-top
            .vaiTro__content-form-top {
                width: 1192px;
                height: 534px;
                background-color: #fff;
                border-radius: 16px;
                box-shadow: $box-shadow;
                padding: 16px 24px;

                // Start content__form-top-heading
                .content__form-top-heading {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    color: $primary-color-txt;
                    margin-bottom: 0;
                }
                // End content__form-top-heading
                
                // Start content__form-top-list 
                .content__form-top-list {
                    display: flex;
  
                    // Start content__form-top-list-left
                    .content__form-top-list-left {
                        flex: 1;

                        .content__form-top-item {

                            .content__form-top-title {
                                display: flex;
                                align-items: center;
                                margin: 12px 0 8px 0;

                                span {
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 600;
                                }

                                img {
                                    margin-left: 3px;
                                }
                            }

                            input {
                                width: 560px;
                                height: 44px;
                                border: 1px solid #D4D4D7;
                                border-radius: 8px;
                                padding: 10px 12px;
                                outline-color: $primary-color-txt;
                            }

                            
                            textarea {
                                width: 560px;
                                height: 160px;
                                border: 1px solid #D4D4D7;
                                border-radius: 8px;
                                padding: 10px 12px;
                                resize: none;
                                outline-color: $primary-color-txt;
                            }

                            .content__form-top-item-warning {
                                display: flex;
                                align-items: center;

                                span {
                                    font-size: 14px;
                                    line-height: 21px;
                                    font-weight: 400;
                                    color: #7E7D88;
                                    margin-left: 3px;
                                }
                            }
                        }
                    }
                    // End content__form-top-list-left

                    // Start content__form-top-list-right
                    .content__form-top-list-right {
                        flex: 1;
                        margin-left: 25px;

                        .content__form-top-item {
                            
                            .content__form-top-item-title {
                                display: flex;
                                align-items: center;

                                span {
                                    font-size: 16px;
                                    line-height: 24px;
                                    font-weight: 600;
                                }

                                img {
                                    margin-left: 3px;
                                }
                            }

                            .content__form-top-item-wrap {
                                width: 560px;
                                height: 420px;
                                background-color: #FFF2E7;
                                border-radius: 8px;
                                margin-top: 8px;
                                overflow-y: scroll;
                                padding: 16px 24px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                &::-webkit-scrollbar {
                                    width: 5px;
                                }

                                &::-webkit-scrollbar-track {
                                    background-color: transparent !important;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: #FFC89B !important;
                                    border-radius: 16px;
                                }

                                .item__wrap-item {
                                    margin-bottom: 20px;

                                    .item__wrap-title {
                                        font-weight: 700;
                                        font-size: 20px;
                                        line-height: 30px;
                                        color: $primary-color-txt;
                                    }

                                    .item__wrap-check {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;

                                        .ant-checkbox-wrapper + .ant-checkbox-wrapper {
                                            margin-left: 0 !important;
                                        }

                                        .ant-checkbox-wrapper {
                                            font-size: 16px;
                                            font-weight: 600;
                                            margin-bottom: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // End content__form-top-list-right
                }
                // End content__form-top-list 
            }
            // End vaiTro__content-form-top

            // Start vaiTro__content-form-bottom
            .vaiTro__content-form-bottom {
                display: flex;
                justify-content: center;
                margin-top: 24px;

                button {
                    width: 115px;
                    height: 48px;
                    border-radius: 8px;
                    font-weight: 600;
                    transition: all 0.5s;
                }
                
                // Start content__form-bottom-cancel
                .content__form-bottom-cancel {
                    margin-right: 32px;
                    border: 1px solid #FF9138;
                    background-color: #FFF2E7;
                    color: #FF9138;
                    
                    &:hover {
                        border: 1px solid #FFF2E7;
                        background-color: #FF9138;
                        color: #FFF2E7;  
                        box-shadow: rgba(244, 128, 34, 0.5) 0px 0px 20px;  
                    }
                }
                // End content__form-bottom-cancel

                // Start content__form-bottom-add
                .content__form-bottom-add {
                    border: 1px solid #fff;
                    background-color: #FF9138;
                    color: #fff;

                    &:hover {
                        border: 1px solid #FF9138;
                        background-color: #FFF2E7;
                        color: #FF9138;  
                        box-shadow: rgba(244, 128, 34, 0.5) 0px 0px 20px;    

                    }
                }
                // End content__form-bottom-add
            }
            // End vaiTro__content-form-bottom
        }
        // End vaiTro__content-form
    }
    //End vaiTro__content

    // Start vaiTro__addVaiTro
    .vaiTro__addVaiTro {
        position: absolute;
        right: 0;
        top: 195.5px;
        width: 80px;
        height: 94px;
        background-color: #fff2e7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: $box-shadow;
        cursor: pointer;
        padding: 10px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    
        span {
            font-size: 14px;
            font-weight: 600;
            color: $primary-color-txt;
            line-height: 19.1px;
            text-align: center;
            margin-top: 6.33px;
            width: 69px;
            white-space: normal;
        }
    }
    // End vaiTro__addVaiTro
}
// End qlVaiTro