// Start 
.confirmPassword {
    height: 100%;

    //Start confirmPassword__left 
    .confirmPassword__left {
        background-color: #f6f6f6;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    

        .confirmPassword__left-logo {
            display: flex; 
            align-items: center;
            justify-content: center;
            flex: 1;

            .confirmPassword__left-img {
                width: 170px;
                height: 136px;
            }
        }

        .confirmPassword__left-form {
            flex: 2;
            margin-top: 80px !important;

            .ant-col-16 {
                max-width: 100% !important;
            }

            .confirmPassword__left-input {
                width: 400px;
                padding: 10px 12px;
                border-radius: 8px;
            }

            .ant-btn.confirmPassword__left-btn {
                padding: 10px 24px !important;
                height: 40px !important;
                width: 162px !important;
            }

            .ant-btn.confirmPassword__left-btn.confirmPassword__cancel {
                padding: 10px 24px !important;
                height: 40px !important;
                width: 162px !important;
                border: 1px solid $primary-color-txt !important;
                color: $primary-color-btn !important;
            }

            .ant-form-item {
                margin-bottom: 0 !important;
            }

            .confirmPassword__left-form-control {

                .ant-form-item-control-input-content {
                    display: flex !important;
                    justify-content: space-around !important;
                    margin-top: 56px !important;
                }
    
            }

            .ant-col-offset-8 {
                margin-left: 0 !important;
            }
        }
    }
    //End confirmPassword__left


    //Start confirmPassword__right
    .confirmPassword__right {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        position: relative;
        background-color: #fff;
        height: 100%;

        .confirmPassword__right-img {
            width: 605px;
            height: 560px;
            margin: 112px 33px 83px 79px;
        }

        .confirmPassword__right-title {
            color: $primary-color-txt;
            position: absolute;
            bottom: 40%;
            right: -60px;
            width: auto;
            height: auto;

            p {
                font-size: 2rem;
            }

            h1 {
                font-weight: 900;
                color: $primary-color-txt;
                font-size: 2.2rem;
            }
        }
    }
    //End confirmPassword__right
}

// End confirmPassword