//Start layout 
.layout {
    width: 1440px;
    height: 810px;
    border-radius: 16px;
    background-color: #000 !important;
    overflow: hidden;
}
//End layout

//Start row 
.row {
    margin: 0 0 !important;
}
//End row

// Start ant-pagination 
.ant-pagination  {
    align-items: center;

    .ant-pagination-prev, .ant-pagination-next {
        transform: translateY(-3px);
    }
}
// End ant-pagination 

// Start ant-checkbox
.ant-checkbox {

    .ant-checkbox-inner {
        border: 2px solid #4277FF;
        border-radius: 4px;
        width: 20px;
        height: 20px;


        .ant-checkbox-inner::after {
            border: 3px solid #fff;
        }
    }

    &.ant-checkbox-checked {
        
        .ant-checkbox-inner {
            background-color: #4277FF;
        }
    }
}
// End ant-checkbox
